/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital@1&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font:xx-large;
    font-weight: 300;
    color: darkslategray
    background-color: #f8f8f8;
}

/* headings and logo */

/* work out how to put band green at top image is not making this work */
#heading {
    background-color: rgb(27, 75, 27);
    width: 100%;
    color:whitesmoke;
}

h1,
h2 {
    font-family: Exo2, sans-serif;
    text-transform: uppercase;
    color: rgba(224, 32, 70, 255);
    /* color: rgb(243, 132, 4); */
    /* color:rgb(27, 75, 27); */
}

h3 {
    color: white;
}

#logo {
    float: left;
    font-size: 600%;
    color: rgb(27, 75, 27);
}

/* navigation links - same as running */

#nav-bar {
    font-size: 400%;
    font-weight: bolder;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#nav-bar,
#logo {
    line-height: 180px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(27, 75, 27);
}

#nav-bar a:hover {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

.active {
    border-bottom: 5px solid rgba(224, 32, 70, 255);
}

/* hero image and cover text - same as running and then added link to sign up*/

#hero-image {
    height: 3500px;
    width: 100%;
    position: absolute;
    /* margin-left: 300px; */
    background: url('../images/two-boys-rugby.jpg') no-repeat center center;
}

#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;
}

#cover-text {
    font-size: 200%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    /* text-align: justify; */
    height: 110px;
    padding: 20px 20px 30px;
    background-color: rgba(224, 32, 70, 255);
    /* background-color: rgb(177, 23, 49); */
    /* background-color: rgb(243, 132, .7); */
    top: 4000px;
    left: 3400px;
    position: absolute;
    opacity: 80%;
    transform: scale(200%);
}

#cover-link {
    color: rgb(27, 75, 27);
    font-weight: bolder;
    text-decoration: none;
}

#hero-outer {
    height: 4000px;
    width: 100%;
    overflow: hidden;
}

/* About Us text */

#welcome {
    height: 800px;
}

#about-us {
    text-align: center;
    font-size: 900%;
    height: 200px;
    font-weight: bold;
    top: 250px;
    left: 900px;
    position: absolute;
    font: bold;
    color: whitesmoke;
    /* color: rgba(224,32,70,255); */
    /* color:white */
    background-color: rgba(224, 32, 70, 255);
    text-align: justify;
    padding: 0 50px;
    position: absolute;
    opacity: 80%;
}

#about-us-confidence {
    top: 1750px;
    left: 450px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    /* color: rgb(27, 75, 27); */
    /* color: rgba(224,32,70,255); */
    color: whitesmoke;
    font: bold;
}

#about-us-values {
    top: 1700px;
    left: 3600px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    color: rgb(27, 75, 27);
    /* color: rgba(224,32,70,255); */
    /* color: whitesmoke; */
    font: bold;
}

/* Table of Dates and Times - from code institute*/

#table {
    margin-right: 20%;
    float:left;
}

table {
    max-width: 15%;
    max-height: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: center;
    color: whitesmoke;
}

th {
    font: bolder;
    height: 40px;
}

th,
td {
    border: 1px solid rgba(224, 32, 70, 255);
    padding: 5px;
    background-color: rgb(27, 75, 27);
}


/* List of Training in Sessions */

#session-list {
    height: 500px;
    font-size: 200%;
}

#what-we-offer {
    margin-left: 10%;
    padding-top: 80px;
    width: 55%;
    float: left;
    text-align: center;
}

.list-offer ul,
.list-unders ol {
    text-align: left;
    text-indent: 40px;
    position: relative;
    float: left;
    display: block;
    left: 40%;
    height: 100%;
    padding-bottom: 100px;
}

.list-offer ul li,
.list-unders ol li {
    position: relative;
    float: left;
    display: block;
    width: 99%;
    height: 100%;
    font-size: 50px;
    margin-bottom: 5px;
}

/* About Us */

#Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

/* About Us */
/* copy as amending */
/* #Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
} */

/* Footer and Social Media - Socials from Love Running FontAwesome Code to run them */

footer{
   /* height: 150px;   /* taken out as gallery is ok*/
    background-color: rgb(27, 75, 27);
    color:whitesmoke;
    font-size:x-large;
}

.footer-style {
    text-align: center;
}

.footer-style>p {
    text-align: center;
}

.footer-copyright {
    text-align: center;
}

.footer-style a {
    color:whitesmoke;
    word-spacing: 5px;
}

.footer-style a :hover {
    color:rgba(224, 32, 70, 255);
}

.footer-style li {
    display: inline;
}

#map-link :hover {
    color:rgba(224, 32, 70, 255);
}

#g-map {
    float: right;
    width: 40%;
    padding-right: 5%;
    height:fit-content;
}


#menu ul li a {
	z-index: 5;
	position: relative;
    float:left;
	display: inline;
	height: 31px;
	overflow: hidden;
	text-decoration: none;
  color:#336699;
  font-size: 20px;
  margin: 0;
  padding:0
}


/* About Us */

/* #Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 90%;
    float: left;
    margin-left: 100px;
    font-size: 280%;
} */

/* Gallery  same as code institute */

#photos {
    clear: both;
    /*photo section appears below the header*/
    line-height: 2.5;
    /*removes the gaps between any images*/
    column-count: 4;
    /*secret source 4 columns for desktops 3 for tablets 2 for mobile if less than 4 pics available then choose 2*/
    column-gap: 10;
    /*removes a vertical gap*/
}

#photos>img {
    width: 100%;
    height: 100%;
    /*widths of images all set to 100%*/
}

.responsive {
    max-width: 100%;
    height: auto;
  }



/* Form */

input[type=text], input[type=email], textarea[id="info"] {
    width: 100%;
    padding: 12px;
    border: 10px solid #fafafa;
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;

    background: transparent;
    background-color: rgba(12, 58, 31, 0.411);
    color: #fafafa;
    margin: 5px 0 20px 0;
}

input[type=text], input[type=email], textarea[id="info"] {
    border-color: #154b27;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color:whitesmoke;
    font-size: 20px;
}

.form-section {
    border-radius: 5px;
    background-color: rgba(12, 58, 31, 0.411);
    padding: 20px;
}

.form-section h2 {
color: whitesmoke;
}

.form-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form-row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .form-label, .form-input, input[type=submit], input[type=radio],
    width: 100%;
    margin-top: 0:
}

/* From W3 how to change color in a placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
  }

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #154b27;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #154b27;
}






/* sign up image */

#signup-image {
    background-image: url('../images/try.jpeg') no-repeat center center;
    width: 100%;
}


/* Media queries for responsiveness */
/* For tablets screen size 1200 and below */
    
@media screen and (max-width: 1200px) {

}

/* For mobile screen size 950 and below */
@media screen and (max-width: 950px) {

}



}

