@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Montserrat:wght@700&display=swap');

/* body and html structure - reference from Love Running project */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
html {
    font-family: Montserrat, sans-serif;
    font: xx-large;
    font-weight: 300;
    color: rgb(27, 75, 27);
    height: 100%;
    background-color: whitesmoke;
}

/* headings and logo - W3 schools How to create a responsive header */

header {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

.header {
    overflow: hidden;
}

.header a {
    float: left;
    color: rgb(27, 75, 27);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
    ;
}

h1,
h2 {
    font-family: Exo2, sans-serif;
    text-transform: uppercase;
    color: rgb(177, 23, 49);
    padding-bottom: 15px;
}

h3 {
    color: white;
}

#logo {
    float: left;
    font-size: 20px;
    color: rgb(27, 75, 27);
}

/* navigation links - reference from Love Running project and W3 schools - Navbar with icons (responsive) */

#nav-bar {
    font-size: 20px;
    font-weight: bolder;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 100px;
    padding: 8px;
}

#nav-bar,
#logo {
    padding: 20px 10px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(27, 75, 27);
}

#nav-bar li a:hover {
    border-bottom: 5px solid rgb(177, 23, 49);
}

.active {
    border-bottom: 5px solid rgb(177, 23, 49);
}

#aboutus-nav {
    margin: 50px;
}

#aboutus-nav h1:hover {
    border-bottom: 5px solid rgb(177, 23, 49);
    text-decoration: none;
}

#home-image {
    background: url('../images/two-boys-rugby-4mp.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#signup-text,
#signup-text h2 {
    color: whitesmoke;
    text-align: center;
}

#signup-text {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    background-color: rgb(177, 23, 49);
}

#signup-link {
    color: rgb(27, 75, 27);
    font-weight: bolder;
    text-decoration: none;
}

/* what we offer & summary ages*/

.offer-container {
    position: relative;
    width: 100%;
    padding: 50px;
    /* this is relative for the floating sign up box */
}

/* club */

#club {
    background-color: rgb(27, 75, 27);
    color: whitesmoke;
}

#highlights {
    padding-top: 40px;
    width: 100%;
    float: left;
}

#group-age-sessions {
    padding-top: 40px;
    width: 100%;
    float: right;
}

.list-offer ul,
.list-unders ol {
    display: block;
    left: 40%;
    height: 100%;
    padding-bottom: 100px;
    padding-left: 5%;
}

.list-offer ul li,
.list-unders ol li {
    position: relative;
    width: 99%;
    font-size: 35px;
    margin-bottom: 5px;
    line-height: 50px;
}

/* About Us text */

#welcome {
    width: 100%;
}

#about-confidence {
    top: 60vh;
    left: 40px;
    font-size: 25px;
    width: 27%;
    position: absolute;
    color: whitesmoke;
}

#about-values {
    top: 40vh;
    right: 10px;
    font-size: 25px;
    width: 27%;
    position: absolute;
    color: whitesmoke;
    font: bold;
}

/* About Us large image row */

.large-column {
    float: left;
    width: 33%;
    padding: 5px;
}

.large-row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px) {
    .large-column {
        width: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .large-row {
        text-align: center;
    }
}


/* descriptions */

#who {
    padding: 40px;
    width: 33%;
    height: 40vh;
    float: left;
    background-color: rgb(27, 75, 27);
    border-radius: 10px;
}

#what {
    padding: 40px;
    width: 33%;
    height: 40vh;
    margin: 0 auto;
    background-color: rgb(27, 75, 27);
    border-radius: 10px;
}

#coach {
    padding: 40px;
    width: 33%;
    height: 40vh;
    float: right;
    background-color: rgb(27, 75, 27);
    border-radius: 10px;
}

#descriptions p {
    color: whitesmoke;
}

.desc-container {
    padding: 5px;
}

.border-style {
    border-radius: 100px;
}



/* Video */
/* Stack overflow rounded corners on video */
video {
    display: block;
    margin: 10px auto;
    border-radius: 40px;
    overflow: hidden;
}


.about-image {
    width: 33%;
    height: 100%;
    display: inline-flex;
    padding: 5vh;
}

#lower-images>img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 15px;
    overflow: hidden;
}


/* About Us text */

#about-us {
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: whitesmoke;
    background-color: rgb(177, 23, 49);
    padding: 10px 50px;
    position: absolute;
    opacity: 80%;
}

#about-us-confidence {
    top: 1750px;
    left: 450px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    color: whitesmoke;
    font: bold;
}

#about-us-values {
    top: 1700px;
    left: 3600px;
    font-size: 600%;
    width: 27%;
    position: absolute;
    color: rgb(27, 75, 27);
    font: bold;
}

/* Table of Dates and Times - reference from Love Running project example*/

#table {
    float: left;
    display: inline-flex;
    margin: 20px;
}

table {
    max-width: 50%;
    max-height: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: center;
    color: whitesmoke;
}

th {
    font: bolder;
}

th,
td {
    border: 1px solid rgb(177, 23, 49);
    padding: 5px;
    background-color: rgb(27, 75, 27);
}


/* List of Training in Sessions */

#session-list {
    height: 70vh;
    margin-bottom: 50px;
    font-size: 200%;
}

#what-we-offer {
    padding-top: 80px;
    width: 55%;
    float: left;
    text-align: center;
}

/* Who What and Coach */

#Who-are-we {
    height: 800px;
    padding-top: 50px;
    width: 33.33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

#What-do-we-do {
    height: 800px;
    padding-top: 75px;
    width: 33.33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

#Coaching {
    height: 800px;
    padding-top: 125px;
    width: 33.33%;
    float: left;
    margin-left: 100px;
    font-size: 380%;
}

/* Footer and Social Media - Socials from Love Running example and FontAwesome Code to run them */

footer {
    background-color: rgb(27, 75, 27);
    color: whitesmoke;
    font-size: 2vh;
}

.footer-style {
    text-align: center;
}

.footer-style>p {
    text-align: center;
}

.footer-copyright {
    text-align: center;
}

.footer-style a {
    color: whitesmoke;
    word-spacing: 5px;

    text-decoration: none;
}

.footer-style a :hover {
    color: rgb(177, 23, 49);
}

.footer-style li {
    display: inline;
}

#map-link :hover {
    color: rgb(177, 23, 49);
}

#g-map {
    float: right;
    padding-top: 40px;
    height: 200px;
}


/* Gallery - reference from Love Running project */

#photos {
    clear: both;
    line-height: 3;
    column-count: 4;
    /*secret source 4 columns for desktops 3 for tablets 2 for mobile if less than 4 pics available then choose 2*/
    column-gap: 10px;
}

#photos>img {
    width: 100%;
    height: 100%;
}

.responsive {
    max-width: 100%;
    height: auto;
}


/* Media Queries - responsiveness */

/* Large screen sizes 1200px and down */
@media screen and (max-width: 1200px) {
    #club {
        margin: 0 auto;
    }
}

/* Header Media */
@media screen and (max-width: 1100px) {
    header {
        display: grid;
        justify-content: center;
        clear: left;
        float: left;
        margin-left: 20px;
        line-height: 25px;
        background: content-box;
    }

    /* stack over flow how to reverse order float elements */
    #nav-bar {
        align-items: baseline;
        float: right;
        list-style-type: none;
    }
}


/* Home Media */

@media screen and (max-width: 1440px) {
    #about-confidence {
        top: 54vh;
        left: 40px;
        font-size: 30px;
        width: 25%;
        position: absolute;
        margin-left: 20px;
    }

    #about-values {
        top: 50vh;
        font-size: 30px;
        width: 25%;
        position: absolute;
        margin-left: 20px;
    }

    #about-us {
        top: 10vh;
    }
}


@media screen and (max-width: 1024px) {
    #about-confidence {
        top: 66vh;
        font-size: 26px;
    }

    #about-values {
        top: 40vh;
        font-size: 26px;
    }

    #who {
        height: 55vh;
    }

    #coach {
        height: 55vh;
    }

    #what {
        height: 55vh;
    }

    #about-us {
        top: 185px;
    }
}


@media screen and (max-width: 768px) {
    #about-confidence {
        top: 80vh;
        font-size: 20px;
        width: 22%;
    }

    #about-values {
        top: 45vh;
        font-size: 20px;
        width: 25%
    }

    #about-us {
        top: 250px;
        font-size: 25px;
    }

    #who {
        height: 65vh;
        padding: 20px;
    }

    #coach {
        height: 65vh;
        padding: 20px;
    }

    #what {
        height: 65vh;
        padding: 20px;
    }
}


@media screen and (max-width: 425px) {
    #about-confidence {
        top: 80vh;
        font-size: 16px;
        width: 22%;
    }

    #about-values {
        top: 45vh;
        font-size: 16px;
        width: 25%
    }

    #about-us {
        font-size: 15px;
        top: 310px;
    }

    #who {
        height: 60vh;
        padding: 5px;
        font-size: 13px;
    }

    #coach {
        height: 60vh;
        padding: 5px;
        font-size: 13px;
    }

    #what {
        height: 60vh;
        padding: 5px;
        font-size: 13px;
    }

    .desc-h2 {
        font-size: 20px;

    }

    .small-container {
        text-align: center;
        display: inline;
    }
}


@media screen and (max-width: 375px) {
    #about-confidence {
        top: 80vh;
        font-size: 14px;
        width: 22%;
    }

    #about-values {
        top: 45vh;
        font-size: 14px;
        width: 25%
    }

    #about-us {
        font-size: 15px;
        top: 300px;
    }

    #who {
        height: 70vh;
        padding: 5px;
        font-size: 13px;
    }

    #coach {
        height: 70vh;
        padding: 5px;
        font-size: 13px;
    }

    #what {
        height: 70vh;
        padding: 5px;
        font-size: 13px;
    }

    .desc-h2 {
        font-size: 20px;

    }

    .small-container {
        text-align: center;
        display: inline;
    }
}


@media screen and (max-width: 320px) {
    #about-confidence {
        top: 100vh;
        font-size: 12px;
        width: 22%;
    }

    #about-values {
        top: 50vh;
        font-size: 11px;
        width: 25%
    }

    #about-us {
        font-size: 15px;
        top: 350px;
    }

    #who {
        height: 60vh;
        padding: 5px;
        font-size: 10px;
    }

    #coach {
        height: 60vh;
        padding: 5px;
        font-size: 10px;
    }

    #what {
        height: 60vh;
        padding: 5px;
        font-size: 10px;
    }

    .desc-h2 {
        font-size: 15px;

    }

    .small-container {
        text-align: center;
        display: inline;
    }
}


/* Video Media */
@media screen and (max-width: 1440px) {
    video {
        width: 1400px;
        height: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    video {
        width: 1000px;
        height: 900px;
    }
}

@media screen and (max-width: 768px) {
    video {
        width: 760px;
        height: 700px;
    }
}

@media screen and (max-width: 425px) {
    video {
        width: 420px;
        height: 400px;
    }
}

@media screen and (max-width: 375px) {
    video {
        width: 365px;
        height: 400px;
    }
}

@media screen and (max-width: 320px) {
    video {
        width: 300px;
        height: 400px;
    }
}


/* Gallery Media */
/* Gallery photos tablet */
@media screen and (max-width: 768px) {
    #photos {
        column-count: 3;
    }
}

/* Gallery photos mobile */
@media screen and (max-width: 375px) {
    #photos {
        column-count: 2;
    }
}

/* Signup Media */
@media screen and (max-width: 600px) {
    tr {
        grid-template-columns: 8fr 7fr 8fr;
    }
}

@media screen and (max-width: 500px) {
    tr {
        grid-template-columns: 9fr 9fr 9fr;
    }
}

@media screen and (max-width: 440px) {
    tr {
        grid-template-columns: 9fr 9fr 9fr;
        ;
    }
}


/* Form  - reference from Love Running project example and W3schools - Form on Image */

input[type=text],
input[type=email],
textarea[id="information"] {
    width: 100%;
    padding: 12px;
    border: 8px solid #fafafa;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    /* resize: vertical; this allows user to make box bigger if not it makes a scroll bar */
    background: transparent;
    background-color: rgba(12, 58, 31, 0.411);
    color: #fafafa;
    margin: 5px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
}

input[type=text],
input[type=email],
textarea[id="information"] {
    border-color: #154b27;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: whitesmoke;
    font-size: 20px;
}

.form-section {
    border-radius: 7px;
    background-color: rgba(12, 58, 31, 0.411);
    padding: 20px;
    margin-top: 30px;
    display: flex;
    width: max-content;
    margin-right: 49%;
    z-index: 3;
    float: left;
    margin-left: 51%;
    margin-bottom: 30px;
}

.form-section h2 {
    color: whitesmoke;
}

.form-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form-row::after {
    content: "";
    display: table;
    clear: both;
}

#info-box {
    flex-direction: column;
}


@media screen and (max-width:1300px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}

@media screen and (max-width:1200px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}

@media screen and (max-width:1100px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}

@media screen and (max-width:1000px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}


@media screen and (max-width:800px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}


@media screen and (max-width:768px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 90%;
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {

    .form-label,
    .form-input,
    input[type=submit] input[type=radio] {
        width: 100%;
        margin-top: 0;
    }
}


/* From W3 how to change color in a placeholder */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    font-family: Montserrat, sans-serif;
    opacity: 1;
    /* Firefox */
}

#join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    background-color: #154b27;
    color: #fafafa;
    display: block;
}

#join-button:hover {
    background-color: #fafafa;
    color: #154b27;
}

* {
    box-sizing: border-box;
}

.container {
    background: #000 url(../images/line-out.jpeg) no-repeat center center;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    padding-bottom: 30px;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(17, 23, 26 / 0%);
    opacity: .7;
    position: absolute;
}

h1 {
    font-family: Montserrat, sans-serif;
    ;
    font-size: 40px;
    z-index: 1;
    ;
}

.form-align {
    float: left;
}